@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> signInManager

@if (signInManager.IsSignedIn(User))
{
    @await Component.InvokeAsync("Cart")

    <div class="dropdown ms-4 nav-color">
        <button class="dropdown-toggle bg-dark" id="dropdownMenuButton"
                data-bs-toggle="dropdown"
                aria-expanded="false">
            <img img-action="GetAvatar"
                 img-controller="Image"
                 width="30" alt="User" />
        </button>
        <ul class="dropdown-menu "
            aria-labelledby="dropdownMenuButton">
            <li class="dropdown-item-text">
                <img img-action="GetAvatar"
                     img-controller="Image"
                     width="30" alt="User" />
                @User.Identity.Name
            </li>
            <li class="dropdown-divider"></li>
            <a class="dropdown-item" asp-controller="Product"
               asp-action="UserProducts">
                Мои
                товары
            </a>
            <form asp-area="Identity"
                  asp-page="/Account/Logout"
                  asp-route-returnurl="@ViewContext.HttpContext.Request.Path">

                <input type="submit"
                       value="Log off"
                       class="dropdown-item" />

            </form>
        </ul>
    </div>
}
else
{
    <ul class="nav navbar-nav ml-auto">
        <li>
            <a class="nav-item nav-link"
               asp-area="Identity"
               asp-page="/Account/Login">
                Войти
            </a>
        </li>
        <li>
            <a class="nav-item nav-link"
               asp-area="Identity"
               asp-page="/Account/Register">
                Зарегистрироваться
            </a>
        </li>
    </ul>
}